header{
    text-align: center;
}
header h1{
    color: #ffffff;
    font-weight: normal;
    text-align: center;
}
header span{
    color: #E912FE;
    font-weight: bold;
    text-transform: uppercase;
}
header p{
    color: #FCA138;
    text-align: center;
}